<!DOCTYPE html>
<html>
  <head>
    <style>
      .about-section {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      .about-header {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .about-text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 50px;
      }
      .about-img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin: 0 auto;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="about-section">
      <h1 class="about-header">About Us</h1>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis
        pellentesque justo, in molestie mi. In hac habitasse platea dictumst.
        Sed malesuada, est ut placerat tincidunt, ante ipsum tempor lectus,
        at rutrum ligula turpis et turpis.
      </p>
      <img class="about-img" src="https://via.placeholder.com/200x200" alt="about image">
    </div>
  </body>
</html>
